.boton{
    background-color: blue;
    width: 20%;
    height: 80%;
    border-radius: 6px;
    
  
}
section{
    display: flex;
    justify-content: center;
}

p{
   display: flex;
   justify-content: center;
   
    
}


body{
    margin: auto;
    
}
label{
    display: flex;
   
    justify-content: center;
    font-size: x-large;
}
section{
    
    flex-direction: column;
    align-items: center;
}
